<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VMD-statistics</title>
    <link rel="stylesheet" href="/static/index.css">
    <meta name="og:url" content="stat.qerdcv.com">
    <meta name="og:title" content="Статистика Срущих">
    <meta name="og:description" content="Срущая статистика">
    <meta name="og:image" content="https://static.thenounproject.com/png/350289-200.png">
    <script src="https://kit.fontawesome.com/617b62021c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h1 class="title">Cамые срущие</h1>
        <div class="stat">
            {{ range $i, $el := .Statistics }}
                <div class="user">
                    {{ if eq $i 0}}
                        <i class="fas fa-crown crown"></i>
                    {{ end }}
                    {{ inc $i }}. {{ $el.Username }} насрал {{ $el.DeletedCount }}
                    {{ if and (lt $el.DeletedCount 5) (gt $el.DeletedCount 1)}}
                        раза
                    {{ else }}
                        раз
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</body>
</html>